.Bottom {
    height: 10vh;
    bottom: 0;
    background-color: #333333;
    color: #FCFCFC;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.Buy_button {
    position: relative;
    top: -2.5vh;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    background-color: #B3001B;
    border-color: #333333;
}

.Buy  {
  height: 5.5vh;
}
