.Bottom {
    height: 10vh;
    bottom: 0;
    background-color: #333333;
    color: #FCFCFC;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    position: fixed;
}

.Buy {
    position: relative;
    top: -2.5vh;
    left: 50;
}
