.Right_item, .Left_item{
  position: relative;
  height: 10vh;
  width: 80vw;
  display: flex;
  border-radius: 1vh;
  justify-content: center;
  align-items: center;
  margin-top: -1vh;
  color: #FCFCFC;
}

.Right_item h1, .Left_item h1{
  font-size: 2.5rem;
  font-weight: bold;
}

.Right_content, .Left_content{
  position: relative;
  height: 15vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  justify-content: center;
  background-color: #5E5E5E;
  align-items: center;
  margin-top: -3.5vh;
}

.Right_content{
  left: 15%;
}

.Left_content{
  left: 5%;
}

.Right_item{
  background-color: #B3001B;
  left: 15%;
}

.Left_item{
  background-color: #333333;
  left: 5%;
}

.Produit{
  background-color: white;
  border-radius: 100vh;
  height: 10vh;
  width: 10vh;
  margin: 2vh;
}
