.Right_item, .Left_item{
  position: relative;
  height: 10vh;
  width: 80vw;
  display: flex;
  border-radius: 1vh;
  justify-content: center;
  align-items: center;
  margin-top: -2vh;
  border: solid 1px;
  background-color: #FCFCFC;
}
.Right_item h1, .Left_item h1{
  font-family: 'Studio Neon';
  font-size: 3rem;
  font-weight: lighter;
}
.Right_content, .Left_content{
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  justify-content: center;
  align-items: flex-start;
  margin-top: -3.5vh;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  background-color: #FCFCFC;
  border-color: black;
}
.Right_content{
  border-color: #03224C;
}
.Left_content{
  border-color: #B3001B;
  color: #B3001B;
}
.Right_item{
  border-color: #03224C;
  color: #03224C;
}
.Left_item{
  border-color: #B3001B;
  color: #B3001B;
}
.Produit{
  background-color: pink;
  border-radius: 100vh;
  height: 10vh;
  width: 10vh;
  margin: 2vh;
}
.Product_list_Left{
  display: flex;
  flex-direction: column;
}
.Product_list_Midle{
  display: flex;
  flex-direction: column;
}
.Product_list_Right{
  display: flex;
  flex-direction: column;
}
.Bottom_item{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.top_line{
  position: absolute;
  top: 0;
  width: 50vw;
  height: 2px;
  background-color: #B3001B
}
.bottom_line{
  position: absolute;
  bottom: 0;
  width: 50vw;
  height: 2px;
  background-color: #B3001B
}
.order_item{
  width: 80%;
  border: solid 1px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_item h3{
  align-self: flex-start;
  margin-left: 2vh;
}
.progress_bar{
  width: 80%;
}
