.Main_container{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Body_container{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 2vh;
  align-items: center;
  justify-content: center;
}
