.mainContainerOrder{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #FCFCFC;
}

.bodyContainerOrder{
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  margin-top: 10vh;
  width: 100%;
  position: absolute;
  padding-top: 2vh;
  padding-bottom: 24vh;
  align-items: center;
  background-color: #FCFCFC;
}
.affichagePrix{
    height: 7.5vh;
    bottom: 10vh;
    background-color: #FCFCFC;
    color: black;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 90%;
    position: fixed;
    z-index: 3;
}
.buttonCommander{
  position: fixed;
  width: 100%;
  bottom: 17.5vh;
  background-color: #FCFCFC;
  height: 6vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}
.sendButton{
  height: 5vh;
  width: 50vw;
  border: solid 1px;
  border-color: #03224C;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendButton h2{
  padding-top: 1vh;
  font-family: 'Studio Neon';
  font-weight: lighter;
}
