.Main_container{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Body_container{
  display: flex;
  padding-top: 2vh;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
