.mainContainerTrack{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bodyContainerTrack{
  display: flex;
  width: 100%;
  min-height: 80vh;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
  padding-top: 2vh;
  margin-bottom: 10vh;
  align-items: center;
  background-color: #FCFCFC;
}
