.mainContainerDetails{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bodyContainerDetails{
  display: flex;
  width: 100%;
  min-height: 80vh;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
  padding-top: 2vh;
  margin-bottom: 10vh;
  background-color: #FCFCFC;
}
.goBack{
  position: absolute;
  color: #FCFCFC;
  left: 5%;
}
.headerContainer{
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #03224C;
  top: 0;
  color: #FCFCFC;
  height: 10vh;
  width: 100%;
  z-index: 3
}
.headerContainer hr{
  width: 100%;
  bottom: 0;
  position: absolute;
  border: 2;
  border-color: #188CE0;
  z-index: 10;
}
